// .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }
  
//   .example-full-width {
//     width: 100%;
//   }
.custom-primary {
    background-color: #27AE60; /* Cambiar a tu color personalizado */
    color: #27AE60; /* Cambiar a tu color de texto personalizado */
  }

.custom-raised-button {
    background-color: #27AE60; /* Cambiar a tu color personalizado */
    color: #27AE60; /* Cambiar a tu color de texto personalizado */
  }